CLOUDFLAREDDNS_APITOKEN=XXXXXXXXXXXXXXXXXXXXXX
CLOUDFLAREDDNS_HOSTS=mysite
CLOUDFLAREDDNS_IPV4_API_ENDPOINT=https://api.ipify.org
CLOUDFLAREDDNS_IPV6_API_ENDPOINT=https://api6.ipify.org
CLOUDFLAREDDNS_RECORDTYPES=A
CLOUDFLAREDDNS_REPEAT_INTERVAL=900
CLOUDFLAREDDNS_ZONES=example.com
TZ=Europe/London